*{box-sizing:border-box;margin:0;padding:0}

body{
font-family:Arial;
background:#0f172a;
color:white;
line-height:1.6;
}

nav{
background:#020617;
padding:16px;
position:sticky;
top:0;
}

nav a{
color:white;
margin:12px;
text-decoration:none;
font-weight:bold;
}

nav a:hover{color:#38bdf8}

.container{
max-width:1100px;
margin:auto;
padding:60px 20px;
}

.hero{
height:90vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.btn{
background:#38bdf8;
color:black;
padding:12px 22px;
border-radius:8px;
display:inline-block;
margin-top:20px;
text-decoration:none;
font-weight:bold;
border:none;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:24px;
}

.card{
background:#020617;
padding:24px;
border-radius:14px;
transition:.3s;
}

.card:hover{
transform:translateY(-6px);
}

.section-title{
font-size:34px;
margin-bottom:30px;
text-align:center;
}

footer{
background:#020617;
text-align:center;
padding:30px;
margin-top:60px;
}

input, textarea{
width:100%;
padding:12px;
margin:10px 0;
border-radius:8px;
border:none;
}
